body {
  background-color: rgb(127, 240, 255);
  height: 800px;
  a {
    text-decoration: none;
    color: black;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  background-color: rgb(0, 133, 221);
  padding: 0 40px;
  .title {
    font-size: 40px;
  }
}

.yield {
  padding: 0 40px;
}

#flash {
  color: red;
  height: 20px;
  font-size: 20px;
}

.touch_form {
  font-size: 40px;
  font-weight: bold;
  width: 300px;
  margin: 100px auto;
  line-height: 80px;
  text-align: center;
  a {
    width: 180px;
    padding: 20px;
  }
  .off_job > a{
    background-color:rgb(0, 183, 255);
    color: white;
  }
  .on_job > a{
    background-color: white;
    color: rgb(0, 183, 255);
  }
}

table {
  margin-top: 20px;
  tbody > tr > th, td {
    padding: 5px 40px;
    border: solid 1px black;
    text-align: center;
  }
}