.touch_form
  .time_now
    .p
      現在時刻
    .p
      #{Date.today.month}月#{Date.today.day}日
    #time

  - if @user.status == false
    .off_job
      = link_to "出勤する", job_times_path, method: :post


  - if @user.status == true
    .on_job
      = link_to "退勤する", job_time_path(@jobTime.id), method: :patch




