.header
  .content.title
    TimeRecords
  .content
    - if current_user
      ログイン中: #{@user.last_name} #{@user.first_name}
    - else
      ログインしていません
  .content
    - if current_user
      = link_to destroy_user_session_path , method: :delete do
        ログアウト