.header
  .content.title
    TimeRecords
  - if current_user
    .content
      ログイン中: #{@user.last_name} #{@user.first_name}
    .content
    = link_to destroy_user_session_path , method: :delete do
      ログアウト
  - else
    .content
      現在ログインしていません
